@import '../../shared/colors.module.scss';

// background animation adapted from https://codepen.io/Rowno/pen/EVEgJb
.background {
    animation: theme 21s linear infinite;

    &:after,
    &:before {
        content: '';
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        height: 100vh; // fallback
        width: 100vmax;
        height: 100vmax;
        background: rgba($secondary, 0.05);
        animation: background 90s linear infinite;
    }

    &:after {
        left: 15vw;
    }

    &:before {
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    }
}

#app {
    font-family: 'Lato', 'Roboto', 'Helvetica', 'Ariel', sans-serif;
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
