.site-icon-container {
    width: 75px;
    margin: 10px;
}

.site-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pass-info {
    display: flex;
    align-items: center;
}

.greeting {
    font-size: 20px;
    font-weight: 300;
    padding: 15px 20px;
}

.website-pass-container {
    display: flex;
}

.delete-pass-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hexagon-empty-passwords img {
    /* shadow from https://getcssscan.com/css-box-shadow-examples */
    box-shadow: inset rgba(135, 135, 141, 0.161) 0px 7px 29px 0px;
    border-radius: 8px;
}
