.hexagon-header-top-border{
  height: 8px;
  width: 100%;
  display: block;
  background: linear-gradient(90deg, #3e9fff 0%, #3a5cb5 100%);
}

.hexagon-header-container .hexagon-header .title{
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 300;
}

.hexagon-header-container{
  display: flex !important;
  justify-content: space-between;
}

.hexagon-header-container .hexagon-header{
  display: flex !important;
  align-items: center;
  justify-items: center;
}

.hexagon-header-container .hexagon-header img{
  width: 40px;
  padding: 10px;
}