.top-border{
  height: 8px;
  width: 100%;
  display: block;
  background: linear-gradient(90deg, #3e9fff 0%, #3a5cb5 100%);
}

.title{
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 300;
}

.header-container{
  display: flex;
  justify-content: space-between;
}

.header{
  display: flex;
  align-items: center;
}

.header img{
  width: 40px;
  padding: 10px;
}