$primary: #0b3459;
$lightPrimary: #3f5d86;
$darkPrimary: #000d2f;
$secondary: #3083d8;
$lightSecondary: #70b2ff;
$darkSecondary: #0057a6;

:export {
    primary: $primary;
    lightPrimary: $lightPrimary;
    darkPrimary: $darkPrimary;
    secondary: $secondary;
    lightSecondary: $lightSecondary;
    darkSecondary: $darkSecondary;
}
