.signin-page{
    height: 440px;
    position: relative;
  }
  
  .signin-page .signin-dialog{
    width: 50%;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: auto;
    padding: 25px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
    color: white;
  }
  
  .signin-dialog .signin-message{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 3px 1px 8px rgba(255, 255, 255, 0.364);
    color: #0d4a86;
  }